.scanTextLaber2 {
    -fx-fill: #666666;
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 40.0px;
    -fx-font-weight: bold;
}

.scanTextFiled {
    -fx-font-size: 32.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-border-width: 1px;
    -fx-border-color: #333333;
    -fx-font-family: "Microsoft YaHei";
    -fx-background-color: #ffffff;
}

.enter {
    -fx-pref-width: 100;
    -fx-pref-height: 65;
    -fx-background-color: #c9f5ff;
    -fx-background-position: 50% 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../img/entry.png");
}

.center-frame {
    -fx-pref-width: 1176px;
    -fx-pref-height: 714px;
    -fx-background-image: url("../img/center_background.png");
}